/* CSS RESET* and properties /
/* Card components: */

/* Border box reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*other Resets */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* Body styles */
body {
    font-family: 'Open Sans', sans-serif;
}


/* button styles */
button {

    cursor: pointer;
    background: none;
    border: none;
}