/* CSS RESET and properties /
/* Card components: */

/* Border box reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*margin and padding and LH Resets */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* body resets */
body {
    font-family: 'Open Sans', sans-serif;

}


/* button styles */
button {

    cursor: pointer;
    background: none;
    border: none;
    /* inhering the color from .card class */
    color: inherit
}

/* CARD COMPONENT */

.card {
    width: 600px;
    background-color: black;
    color: #fff;
    padding: 16px;
    border-radius: 10px;
    margin: 100px auto 0;
}

.name {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2.5px;
    color: #808080;
}

.title {
    margin: 16px 0;
    text-transform: capitalize;
}

.description {
    max-width: 60ch;
    color: #808080
}

.btn {
    background-color: #fff;
    color: black;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 16px;
}